{% load static %}

<!-- ...::: Start Hero Section :::... -->
<div class="hero-section section-dark-blue-bg" id="hero">
    <div class="hero-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7">
                    <div class="hero-content">
                        <h3 class="title-big">Hello! I’m</h3>
                        <h2 class="title-large"> <span class="shape-mark">Naziur</span></h2>
                        <p>A Django developer with a passion for creating scalable and user-friendly web applications.</p>
                        {% for foo in info %}
                        <a href="{{foo.resume.url}}" class="btn btn-xl btn-outline-one icon-space-left">Get Resume <i class="icofont-download"></i></a>
                        {% endfor %}

<!--                         <div class="video-link">
                            <a class="wave-btn" href="https://youtu.be/MKjhBO2xQzg" data-autoplay="true" data-vbtype="video">

                                <div class="ripple"><i class="icofont-ui-play"></i></div>
                            </a>

                            <span class="video-text"> Watch Video</span>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="hero-shape hero-top-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="hero-shape hero-bottom-shape">
            <span></span>
            <span></span>
            <span></span>
        </div>

        {% for foo in info %}
        <div class="hero-portrait">
            <div class="image">
                <img class="img-fluid" src="{% static 'images/portrait/portrait-hero.jpg' %}" width="665" height="949" alt="">

                <div class="image-half-round-shape"></div>
                <div class="social-link">
                    <a href="{{ foo.fb_link }}" target="_blank"><i class="icofont-facebook"></i></a>
                    <a href="{{ foo.instagram_link }}" target="_blank"><i class="icofont-instagram"></i></a>
                    <a href="{{ foo.github_link }}" target="_blank"><i class="icofont-github"></i></a>
                    <a href="{{ foo.linkedin_link }}" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<!-- ...::: End Hero Section :::... -->